extends layout

block content
    #map.col-xs-12
        
    script.
        var rutas = !{JSON.stringify(rutas)}
        rutas = JSON.parse(rutas)
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: 0, lng: -180},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });
        var flightPlanCoordinates=[]
        for(var i=0; i < rutas.length; i++){
          flightPlanCoordinates=[]
          for(var j=0; j<rutas[i].loc.length;j++){
            flightPlanCoordinates.push({lat:rutas[1].loc[j][1],lng:rutas[1].loc[j][0]})
          }
          var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
          });

          flightPath.setMap(map);
        }

        
      
